.mobileMenuButton {
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    display: none;
    height: fit-content;
    width: 2.80rem;
}

.mobileMenuBar {
    display: none;
}

@media (max-width: 468px) {

    .mobileMenuBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: sticky;
        z-index: 9000;
        padding: 1rem 0;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--rich-black);
    }

    .mobileMenuBar h1 {
        margin: 0;
        margin-left: 1rem;
    }

    .mobileMenuButton {
        display: flex;
        margin-right: 1rem;
    }
}

.hide {
    display: none;
}


@keyframes appear {
    0% {
        top: -200rem;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        top: 0rem;
        opacity: 1;
    }
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
}


@keyframes disapearMob {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        top: -200rem;
        opacity: 0;
    }
}
.disapearMob {
    animation-name: disapearMob;
    animation-duration: 1s;
}