:root {
    --rich-black: #0e131fff;
    --delft-blue: #38405fff;
    --english-violet: #59546cff;
    --cadet-gray: #8b939cff;
    --imperial-red: #ff0035ff;
    --white: #f0f8ff;
    --gold: #FFD700;
}

